*{
    margin: 0;
    padding: 0;
}
.navigation {
    width: 75%;
    padding: 15px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchbar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 14%;
    height: 27px;
    cursor: pointer;
}
.lugo {
    margin: auto;
    display: flex;
    width: 20%;
    height: 40px;
    cursor: pointer;
    align-items: center;
}
.navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navigation ul li a {
    text-decoration: none;
    color: #fff;
}
.hightlight{
    color: #E7B10A;
}
.content {
    min-height: 110%;
    margin-top: 75px;
    margin-left: 180px;
    margin-bottom: 50px;
}
.name_of_parts {
    margin-top: 30px;
}
.sentence {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 180px;
    margin-bottom: 15px;
}
.footers {
    width: 75%;
    padding: 15px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_0 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 17%;
    height: 35px;
    cursor: pointer;
}
.footers ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.footers ul li a {
    text-decoration: none;
    color: #fff;
}